/* From http://codepen.io/anon/pen/MKzEmK */
* {
  box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
  display: inline-block;
  margin-right: -0.2em; /* small hack to fix inline block spacing */
  vertical-align: top;
}

/* Non-mobile, grid */
@media (min-width: 768px) {
    .col-1 {width: 8.2%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

header, form {
    text-align: center;
}

.black {
  outline: 1px solid black;
}

.blue {
  outline: 1px solid blue;
}

.row {
  width: 100%;
}

label, input, button {
  display:block;
  margin: 0 auto;
}

button {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin: 10px auto;
}

.player {
  text-align: center;
  padding: 25px;
}

.playerscore {
  display: block;
  margin: 0 auto;
}

.score-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

footer {
    font-size: 9px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}
